*{
    margin : 0;
    padding : 0;
    box-sizing: border-box ;
    /* border : 1 px solid rgb ( var ( - - LN ) ) ; */
  }
   
  body {
   background-color: #ac6c96;
   color: white;
   text-align: center;
   
  }
  
  main{
   max-width: 80ch;
   margin: auto;
  }
  
  main h3{
    padding: 10px;
  }
  
  main h1{
    padding: 10px;
  }
  
  
  nav{
   text-align: center;
   background-color: #627999 ;
   padding: 3px;
   width: auto;
  }
  
  nav p{
   font-size: 40px;
   font-weight: 600;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #b47c2e;
   margin-left: 35px;
  }
  
  nav ul{
   padding-top: 10px;
   padding-bottom: 10px;
  }
  
  nav li{
   list-style: none;
   display: inline;
   margin: 15px;
  }
  
  
  nav li a{
   color: #d9dad7;
   text-decoration: none;
   font-size: 18px;
   font-weight: 600; 
  }
  
  nav li:hover{
   background-color: #4da887;
   padding: 11px;
   border-radius: 11px;
   
  }
  
  figure{
   text-align: center;
   padding: 10px;
  }
  
  figure img{
   width: 200px;
  }
  
  footer{
   text-align: center;
   padding: 10px;
  }
  
  #container{
    margin: 20px;
    /* justify-content: center; */
    text-align: center;
  }
  
  #wordInput{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px ;
    font-size: 1em;
  }